.Are_you_SURE_you_don_t_want_to_escape__ {
  font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;
}
.Are_you_SURE_you_don_t_want_to_escape__ {
  font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;
}
.Are_you_SURE_you_don_t_want_to_escape__ {
  font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;
}
.Are_you_SURE_you_don_t_want_to_escape__ {
  font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;
}
p {
  font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;
}p {
  font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;
}

p {
	font-size: 16.667px;
	font-family: "Bebas Neue";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	position: absolute;
	left: 1005px;
	top: 1060px;
	width: 219px;
	height: 12px;
	z-index: 8;
}

font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;font-size: 16.667px;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 419.938px;
  top: 1666.883px;
  width: 219px;
  height: 12px;
  z-index: 8;@charset "UTF-8";


p {
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}


.bluebox{
	position: absolute;
	left: 1658px;
	top: 721px;
}


.sure{
	position: absolute;
	left: 439px;
	top: 188px;
}
.change {
	position: absolute;
	left: 383px;
	top: 495px;
}


body {
	background-image:url("images/purplescreen.gif");
}